<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{publicURL}}/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>Bookshelf template</title>

    <link rel="stylesheet" href="{{publicURL}}/css/index.css" />
    <link rel="stylesheet" href="{{publicURL}}/css/App.css" />
  </head>
  <body>
    <div id="root">
      <div class="App">
        <header class="App-header">
          <p>My bookshelf</p>
        </header>
        <section>
          {{#*inline "bookPartial"}}
            <div class="book">
              <img
                src={{this.image_url}}
                alt="{{this.title}} Cover"
              />
              <div class="title">
                <a href={{this.link}}>{{this.title}}</a>
              </div>
              <div class="author">
                {{this.author}}
              </div>
            </div>

          {{/inline}}

          {{#each bookShelves}}
            <h2 class="shelf-header">{{this.name}}</h2>
            <div class="shelf">
              {{#each this.books}}
                {{> bookPartial}}
              {{/each}}
            </div>
          {{/each}}
        </section>
        <footer><a href='{{publicURL}}'>Books</a> ♥ 
          <div 
            style="display: inline;"
            title="Website rendered statically on {{dateString}} at {{dateTimeString}}">
            {{dateYear}}
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
